@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "nullshock";
  src: url("../fonts/nulshock bd.otf");
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("../images/background5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 125px;
  background: black;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
body header #logo {
  width: 20%;
}
body header #firma {
  width: 60%;
}
body .section_title_a {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
body .section_title_a img {
  height: 100px;
  margin-top: 25px;
}
body .section_title_a img:hover {
  transition: 500ms;
  transform: rotate(10deg);
}
body .section_title_a h2 {
  font-family: nullshock;
  color: white;
}
body .section_title_b {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
body .section_title_b img {
  height: 100px;
  margin-top: 25px;
}
body .section_title_b img:hover {
  transition: 500ms;
  transform: rotate(10deg);
}
body .section_title_b h2 {
  font-family: nullshock;
  color: rgb(18, 18, 18);
}
body #programmer_title img {
  border-radius: 100%;
  height: 130px;
  border: 5px solid rgb(68, 68, 68) !important;
}
body .cards {
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow: hidden;
  align-self: center;
  margin: 20px;
  border-radius: 10px;
  background: rgb(18, 18, 18);
  color: white;
  overflow: hidden !important;
}
body .cards .image_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}
body .cards .image_wrapper img {
  height: 125px;
  border-radius: 100%;
  margin: 20px;
}
body .cards .image_wrapper img:hover {
  transition: 600ms;
  transform: rotateY(360deg);
}
body .cards .info_cards_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
}
body .cards .info_cards_wrapper .cards_title {
  font-family: nullshock;
  text-align: center;
  font-weight: bold;
}
body .cards .info_cards_wrapper .cards_description {
  text-align: center;
  margin: 20px;
  color: rgb(227, 224, 224);
  font-size: 1.1rem;
}
body .cards .info_cards_wrapper .link_certificate {
  text-align: center;
  font-weight: bold;
  color: lightblue;
  font-size: 1.1rem;
  cursor: pointer;
}
body .cards:hover {
  transition: 200ms;
  box-shadow: 3px 7px 17px 0px rgba(0, 227, 217, 0.47);
}
body #about_me {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  font-family: roboto;
  background-color: rgb(118, 114, 114);
  background-image: url("../images/alt_background2.jpg");
  background-size: 100% 100%;
  background-blend-mode: difference;
  background-position: center;
}
body #about_me #about_me_card {
  margin-top: 50px;
}
body #projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  font-family: roboto;
  color: rgb(227, 224, 224);
  background: rgb(29, 29, 29);
}
body #projects #gardening_app {
  background-image: url("../images/project_background.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
body #projects #gardening_app .image_wrapper_project #image2_gf_app {
  display: none;
}
body #projects #gardening_app .image_wrapper_project #image3_gf_app {
  display: none;
}
body #projects #gardening_web {
  background-image: url("../images/background6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
body #projects #gardening_web #web_example {
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}
body #projects #art_master {
  background-image: url("../images/fondo6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: normal;
}
body #projects #art_master #isologo {
  width: 60%;
  margin-top: 30px;
}
body #projects #art_master .image_wrapper_project #art_master_img_2 {
  display: none;
}
body #projects #art_master .image_wrapper_project #art_master_img_3 {
  display: none;
}
body #projects #luis_nastrai_app {
  background-image: url("../images/abstract_background.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: normal;
}
body #projects #luis_nastrai_app #isologo {
  width: 60%;
  margin-top: 30px;
}
body #projects #luis_nastrai_app .image_wrapper_project #img_nastrai_2 {
  display: none;
}
body #projects #luis_nastrai_app .image_wrapper_project #img_nastrai_3 {
  display: none;
}
body #projects #luis_nastrai_app .project_info {
  color: black;
}
body #projects .project_cards {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-evenly;
  overflow: scroll;
  border-radius: 10px;
  background: rgb(0, 119, 113);
  align-self: center;
  margin-bottom: 60px;
}
body #projects .project_cards .logo_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: 100%;
}
body #projects .project_cards .logo_wrapper img {
  width: 80%;
  align-self: center;
  margin: 15px;
}
body #projects .project_cards .image_wrapper_project {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}
body #projects .project_cards .image_wrapper_project img {
  height: 500px;
}
body #projects .project_cards .image_wrapper_project img:hover {
  transition: 600ms;
  filter: brightness(120%);
}
body #projects .project_cards .project_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}
body #projects .project_cards .project_info h3 {
  text-align: center;
  font-family: nullshock;
}
body #projects .project_cards .project_info p {
  padding: 15px;
  text-align: center;
  line-height: 1.7rem;
}
body #projects .project_cards .project_info .btn_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
}
body #projects .project_cards .project_info .btn_wrapper button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0px;
  width: 90%;
  margin-bottom: 30px;
  border-radius: 10px;
  background: rgb(7, 112, 104);
  border: none;
  font-family: nullshock;
  color: white;
  cursor: pointer;
}
body #projects .project_cards .project_info .btn_wrapper button:hover {
  transition: 300ms;
  background: rgb(5, 175, 96);
}
body #projects .project_cards .project_info .btn_wrapper img {
  height: 40px;
  justify-self: center;
  align-self: center;
  border-radius: 100%;
  background: white;
  border: 2px solid white;
}
body #projects .project_cards:hover {
  transition: 300ms;
  box-shadow: 3px 7px 17px 0px rgba(0, 227, 217, 0.47);
}
body #certificaciones {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  font-family: roboto;
  color: rgb(227, 224, 224);
  background: rgb(29, 29, 29);
}
body #contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  font-family: roboto;
  background-color: rgb(118, 114, 114);
  background-image: url("../images/alt_background2.jpg");
  background-size: 100% 100%;
  background-blend-mode: difference;
  background-position: center;
}
body #contact .contact_wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  background: rgb(18, 18, 18);
  border-radius: 10px;
  align-self: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
body #contact .contact_wrapper .contact_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
body #contact .contact_wrapper .contact_item img {
  height: 40px;
}
body #contact .contact_wrapper .contact_item p {
  font-family: roboto;
  color: white;
  margin: 10px;
}
body #contact .contact_wrapper:hover {
  transition: 200ms;
  box-shadow: 3px 7px 17px 0px rgba(0, 227, 217, 0.47);
}

@media only screen and (min-width: 1200px) {
  body header {
    justify-content: center;
  }
  body header #logo {
    width: 15%;
  }
  body header #firma {
    width: 20%;
    margin-left: 40px;
  }
  body #about_me_card {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  body #about_me_card #programmer_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
  }
  body #about_me_card #programmer_title h2 {
    display: none;
  }
  body #about_me_card #info_cards_wrapper {
    width: 70%;
  }
  body #about_me_card #info_cards_wrapper #cards_description #desc_about_me {
    text-align: left !important;
  }
  body .project_cards {
    display: flex !important;
    flex-direction: row !important;
    overflow: hidden !important;
    margin-bottom: 125px !important;
    border: rgb(2, 111, 138) 3px solid;
  }
  body .project_cards .logo_wrapper img {
    width: 220px !important;
  }
  body .project_cards .image_wrapper_project {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .project_cards .image_wrapper_project img {
    height: 450px !important;
  }
  body .project_cards .image_wrapper_project #web_example {
    height: 325px !important;
  }
  body .project_cards .project_info {
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 50px;
  }
  body .project_cards .description_wrapper .btn_wrapper button {
    width: 85% !important;
  }
  body #certificaciones {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgb(118, 114, 114);
    background-image: url("../images/alt_background2.jpg");
    background-size: 100% 100%;
    background-blend-mode: difference;
    background-position: center;
  }
  body #certificaciones .cards {
    height: 650px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  body #certificaciones .cards p {
    font-size: 0.95rem;
  }
  body #contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: center;
    font-family: roboto;
    color: rgb(227, 224, 224);
    background: rgb(29, 29, 29);
  }
  body #projects #gardening_app .image_wrapper_project #image2_gf_app {
    display: flex;
  }
  body #projects #gardening_app .image_wrapper_project #image3_gf_app {
    display: flex;
  }
  body #projects #art_master .image_wrapper_project #art_master_img_2 {
    display: flex;
  }
  body #projects #art_master .image_wrapper_project #art_master_img_3 {
    display: flex;
  }
  body #projects #luis_nastrai_app .logo_wrapper #isologo_nastrai {
    mix-blend-mode: multiply;
  }
  body #projects #luis_nastrai_app .image_wrapper_project #img_nastrai_2 {
    display: flex;
  }
  body #projects #luis_nastrai_app .image_wrapper_project #img_nastrai_3 {
    display: flex;
  }
}/*# sourceMappingURL=styles.css.map */