//------------------------- VARIABLES ------------------------//
$background_color_1: rgb(18, 18, 18);
$font_color_1: white;
$font_color_2: rgb(227, 224, 224);
$title_color: rgb(15, 238, 15);
$shadow_cards: 3px 7px 17px 0px rgba(0,227,217,0.47);
$btn_color: rgb(7, 112, 104);
$btn_color_hover: rgb(5, 175, 96);

//------------------------- MIXINS ------------------------//
@mixin sectionStyleA{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: center;
    font-family: roboto;
    background-color: rgb(118, 114, 114);
    background-image: url("../images/alt_background2.jpg");
    background-size: 100% 100%;
    background-blend-mode:difference;
    background-position: center;
}

@mixin sectionStyleB{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: center;
    font-family: roboto;
    color: $font_color_2;
    background: rgb(29, 29, 29);
}

//------------------------- FONTS ------------------------//
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "nullshock";
    src: url("../fonts/nulshock\ bd.otf");
}

//------------------------- STYLES ------------------------//
//------------------  mobile view by default ------------------------//
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("../images/background5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    header{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 125px;
        background: black;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;

        #logo{
            width: 20%;
        }

        #firma{
            width: 60%;;
        }
    }

    .section_title_a{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;

        img{
            height: 100px;
            margin-top: 25px;
        }

        img:hover{
            transition: 500ms;
            transform: rotate(10deg);
        }

        h2{
            font-family: nullshock;
            color: $font_color_1;
        }
    }
    
    .section_title_b{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;

        img{
            height: 100px;
            margin-top: 25px;
        }

        img:hover{
            transition: 500ms;
            transform: rotate(10deg);
        }

        h2{
            font-family: nullshock;
            color: $background_color_1;
        }
    }

    #programmer_title{
        img{
            border-radius: 100px;
            height: 130px;
        }
    }

    .cards{
        display: flex;
        flex-direction: column;
        width: 90%;
        //height: auto;
        overflow: hidden;
        align-self: center;
        margin: 20px;
        border-radius: 10px;
        background: $background_color_1;
        color: $font_color_1;
        overflow: hidden !important;

        .image_wrapper{
            display: flex;
            width: 100%;
            justify-content: center;
            align-content: center;
            img{
                height: 125px;
                border-radius: 100%;
                margin: 20px;
            }
            img:hover{
                transition: 600ms;
                transform: rotateY(360deg)
            }
        }

        .info_cards_wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 100%;
            height: auto;

            .cards_title{
                font-family: nullshock;
                text-align: center;
                font-weight: bold;
            }

            .cards_description{
                text-align: center;
                margin: 20px;
                color: $font_color_2;
                font-size: 1.1rem;
            }

            .link_certificate{
                text-align: center;
                font-weight: bold;
                color: lightblue;
                font-size: 1.1rem;
                cursor: pointer;
            }

        }
    }

    .cards:hover{
        transition: 200ms;
        box-shadow: $shadow_cards;
    }

    #about_me{
        @include sectionStyleA();
    }

    #projects{
        @include sectionStyleB();

        // special adjustments
        #gardening_app{
            background-image: url("../images/project_background.PNG");
            background-size: cover;
            background-repeat: no-repeat;
            background-blend-mode: multiply;

            .image_wrapper_project{
                #image2_gf_app{display: none;}
                #image3_gf_app{display: none;}
            }
        }

        // special adjustments
        #gardening_web{
            background-image: url("../images/background6.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-blend-mode: multiply;

            #web_example{
                height: 300px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }

        //special adjustments
        #art_master{
            background-image: url("../images/fondo6.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-blend-mode: normal;

            #isologo{
                width: 60%;
                margin-top: 30px;
            }

            .image_wrapper_project{
                #art_master_img_2{display: none;}
                #art_master_img_3{display: none;}
            }
        }

        //special adjustments
        #luis_nastrai_app{
            background-image: url("../images/abstract_background.PNG");
            background-size: cover;
            background-repeat: no-repeat;
            background-blend-mode: normal;

            #isologo{
                width: 60%;
                margin-top: 30px;
            }

            .image_wrapper_project{
                #img_nastrai_2{display: none;}
                #img_nastrai_3{display: none;}
            }

            .project_info{
                color: black;
            }
        }

        .project_cards{
            display: flex;
            flex-direction: column;
            width: 90%;
            justify-content: space-evenly;
            overflow: scroll;
            border-radius: 10px;
            background: rgb(0, 119, 113);
            align-self: center;
            margin-bottom: 60px;

            .logo_wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-self: center;
                width: 100%;
                img{
                    width: 80%;
                    align-self: center;
                    margin: 15px;
                }
            }

            .image_wrapper_project{
                display: flex;
                width: 100%;
                justify-content: center;
                align-content: center;
                img{
                    height: 500px;
                }
                img:hover{
                    transition: 600ms;
                    filter: brightness(120%);
                }
            }

            .project_info{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-content: center;
                width: 100%;

                h3{
                    text-align: center;
                    font-family: nullshock;
                }

                p{
                    padding: 15px;
                    text-align: center;
                    line-height: 1.7rem;
                }

                .btn_wrapper{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    align-self: center;

                    button{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-content: center;
                        padding: 0px;
                        width: 90%;
                        margin-bottom: 30px;
                        border-radius: 10px;
                        background: $btn_color;
                        border: none;
                        font-family: nullshock;
                        color: $font_color_1;
                        cursor: pointer;
                    }
                    button:hover{
                        transition: 300ms;
                        background: $btn_color_hover;
                    }

                    img{
                        height: 40px;
                        justify-self: center;
                        align-self: center;
                        border-radius: 100%;
                        background: white;
                        border: 2px solid white;
                    }
                }
            }
        }
        .project_cards:hover{
            transition: 300ms;
            box-shadow: $shadow_cards;
        }
    }

    #certificaciones{
        @include sectionStyleB()
    }

    #contact{
        @include sectionStyleA();

        .contact_wrapper{
            display: flex;
            flex-direction: column;
            width: 90%;
            background: $background_color_1;
            border-radius: 10px;
            align-self: center;
            margin-top: 25px;
            margin-bottom: 25px;

            .contact_item{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 20px;
                img{
                    height: 40px;
                }

                p{
                    font-family: roboto;
                    color: $font_color_1;
                    margin: 10px;
                }
            }
        }
        .contact_wrapper:hover{
            transition: 200ms;
            box-shadow: $shadow_cards;
        }

    }
}

//------------------------- MEDIA QUERIES ------------------------//
@media only screen and (min-width: 992px){
    body{
        header{
            justify-content: center;
            #logo{
                width: 15%;
            }
            #firma{
                width: 20%;
                margin-left: 40px;
            }
        }

        .project_cards{
            display: flex !important;
            flex-direction: row !important;
            overflow: hidden !important;
            margin-bottom: 125px !important;
            border: rgb(2, 111, 138) 3px solid;

            .logo_wrapper{
                img{
                    width: 220px !important;
                }
            }

            .image_wrapper_project{
                img{height: 450px !important;}
                #web_example{height: 350px !important;}
            }

            .project_info{
                background-color: rgba(0, 0, 0, 0.5);
                margin-left: 50px;
            }

            .description_wrapper .btn_wrapper{
                button{
                    width: 85% !important;
                } 
            }
        }

        #certificaciones{
            display: flex;
            flex-direction: row;
            height: 100%;
            background-color: rgb(118, 114, 114);
            background-image: url("../images/alt_background2.jpg");
            background-size: 100% 100%;
            background-blend-mode:difference;
            background-position: center;


            .cards{
                height: 600px;
                margin-bottom: 50px;
                margin-top: 50px;
                p{
                    font-size: 0.95rem;
                }
            }
        }

        #contact{
            @include sectionStyleB()
            
        }

        #projects{
            #gardening_app{
                .image_wrapper_project{
                    #image2_gf_app{display: flex;}
                    #image3_gf_app{display: flex;}
                }
            }

            #art_master{
                .image_wrapper_project{
                    #art_master_img_2{display: flex;}
                    #art_master_img_3{display: flex;}
                }
            }

            #luis_nastrai_app{
                .logo_wrapper{
                    #isologo_nastrai{mix-blend-mode: multiply;}
                }

                .image_wrapper_project{
                    #img_nastrai_2{display: flex;}
                    #img_nastrai_3{display: flex;}
                }
            }
        }
    }
}
